/*
 * Some edits by André "MKody" Fernandes <im@kdy.ch>
*/

.container {
	margin-bottom: 300px;
	max-width: 900px;
	padding: 20px;
	width: inherit;
}

.markdown-body .anchor {
	display: none;
	font-size: 0.7em;
}

h2 > .anchor {
	display: inline-block !important;
}


pre {
	max-height: 215px;
}