doctype html
html
  head
    meta(charset='utf-8')
    title: !=title
    style
      include ./node_modules/primer-css/css/primer.css
      include ./node_modules/primer-markdown/dist/user-content.min.css
      include ./node_modules/highlight.js/styles/github.css
      include ./custom.css
  body
    .container
      .markdown-body
        !=content
    a(class='top', href='#top') Scroll to top
    script
      include ./node_modules/jquery/dist/jquery.min.js
      include ./node_modules/anchorific/min/anchorific.min.js
    script.
      $('.markdown-body').anchorific({
        position: 'prepend',
        speed: 1200
      });
